@model BeYourMarket.Web.Models.RegisterViewModel
@{
    /**/

    /**/
    ViewBag.Title = "[[[Register]]]";
}

@section Styles {

    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />

}


<!-- Start Main Content -->
<div class=" main-section" style="background-color:#EAF4D3">
    <div class="container" style="background-color:#EAF4D3">
        <div class="row mt-1">
            <div class="col-md-2  d-none d-md-inline">
                <img src="@ImageHelper.GetCommunityImagePath("LogoTnTcom_150x184", "png"))" style="display: block;" />
            </div>
            <div class="col-md-9">
                <div class="card border-success" id="divPubRegisterHaut">
                    <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Haut_800x200_Img1"))" style="display: block;" pubHaut />
                    @{
                        for (int iH = 2; iH <= @ImageHelper.GetMaxNbforPub("pub_Register_Haut_800x200_Img"); iH++)
                        {
                            <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Haut_800x200_Img" + iH)" style="display: none;" pubHaut />
                        }
                    }

                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="card " id="divPubRegisterGauche">
                    <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Gauche_250x350_Img1"))" style="display: block;" pubgauche />
                    @{
                        for (int iG = 2; iG <= @ImageHelper.GetMaxNbforPub("pub_Register_Gauche_250x350_Img"); iG++)
                        {
                            <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Gauche_250x350_Img" + iG)" style="display: none;" pubgauche />
                        }
                    }

                </div>
            </div>
            <div class="col-md-6 mx-auto ">
                <div class="card border border-success mrg-t">
                    <div class="card-header bdr-b" style="text-align:center;">
                        <h4>[[[Create an account]]]</h4>
                        <p>
                            @CacheHelper.Settings.SignupText
                        </p>
                    </div>
                    <div class="card-body">

                        @if (CacheHelper.Settings.AgreementRequired)
                        {
                            <div id="agreementModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="agreementModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="agreementModalLabel">[[[Agreement]]]</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4>@CacheHelper.Settings.AgreementLabel</h4>
                                            <p>@CacheHelper.Settings.AgreementText</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">[[[Close]]]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", id = "form0", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div id="idBtnType" class="btn-group d-flex " data-toggle="buttons">
                                <label class="btn btn-success btn-lg active w-50">
                                    <input type="radio" name="UserType" id="optPart" autocomplete="off" value="0" checked>  [[[Personal]]]
                                </label>
                                <label class="btn btn-success btn-lg w-50">
                                    <input type="radio" name="UserType" id="optPro" autocomplete="off" value="2">  [[[Professional]]]
                                </label>
                            </div>

                            <div class="card-block">
                                <div class="form-group">
                                    <label for="Email">[[[Email]]] <span class="text-red">*</span></label>
                                    <input type="text" name="Email" id="Email" class="form-control input-lg" placeholder="[[[Enter email]]]" data-rule-required="true" data-rule-email="true">
                                </div>
                                <div class="form-group">
                                    <label for="Password">[[[Password]]] <span class="text-red">*</span></label>
                                    <input type="password" name="Password" id="Password" class="form-control input-lg" placeholder="[[[Password]]]" data-rule-required="true" data-rule-minlength="6">
                                </div>
                                <div class="form-group">
                                    <label for="ConfirmPassword">[[[Confirm Password]]] <span class="text-red">*</span></label>
                                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control input-lg" placeholder="[[[Confirm Password]]]" data-rule-required="true" data-rule-minlength="6" data-rule-equalto="#Password">
                                </div>
                            </div>

                            <div class="card mt-5" id="dPro" style="display: none;">
                                <div class="card-Header">
                                    <h5> [[[Required fields for professional accounts]]] </h5>
                                </div>
                                <div class="card-body">
                                    <div class="target text-center">
                                        <input type="file" id="files" name="files" class="file-loading" data-preview-file-type="img">
                                        <label for="files">[[[Choose your Logo]]]</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="mark" for="ProCompany">[[[Card Number]]] <span class="text-red">*</span></label>
                                        <input type="text" name="ProCCardNumber" id="ProCardNumber" class="form-control input-lg" placeholder="[[[Card Number]]]">
                                    </div>
                                    <div class="form-group">
                                        <label class="mark" for="ProCompany">[[[Company]]] <span class="text-red">*</span></label>
                                        <input type="text" name="ProCompany" id="ProCompany" class="form-control input-lg" placeholder="[[[Company Name]]]">
                                    </div>
                                    <div class="form-group">
                                        <label class="mark" for="ProSiret">[[[Siret]]] <span class="text-red">*</span></label>
                                        <input type="text" name="ProSiret" id="ProSiret" class="form-control input-lg" placeholder="[[[Company SIRET number]]]">
                                    </div>
                                    <fieldset>
                                        <label>[[[Category]]]</label>
                                        <div class="form-group" style="border-style:groove;overflow-y: auto; height: 270px;">
                                            <div id="jstreeCateg">  </div>
                                            <input type="hidden" id="CategoryIDhidd" name="ProCategoryIDs" value="ProCategoryIDs" />
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>[[[Localization]]]</legend>
                                        <div class="form-group">
                                            <label class="mark" for="ProAdress">[[[Adress]]] <span class="text-red">*</span></label>
                                            <input type="text" name="ProAdress" id="ProAdress" class="form-control input-lg" placeholder="[[[Company Adress]]]">
                                        </div>
                                        <div class="form-group">
                                            <label for="ProTownZip">[[[City]]] <span class="text-red">*</span></label>
                                            <input type="text" name="ProTownZip" id="ProTownZip" class="form-control input-lg" placeholder="[[[Company Town or Zip Code]]]">
                                        </div>
                                        <div class="form-body" style="border-style:groove;overflow-y: auto; height: 270px;">
                                            <div id="jstreeLoc"> </div>

                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" id="LocSelectedName" name="LocSelectedName" value="" />
                                            <input type="hidden" id="LocationRefIDhidd" name="ProLocationRefID" value="ProLocationRefID" />
                                            <input type="hidden" id="Longitude" name="ProLongitude" value="" />
                                            <input type="hidden" id="Latitude" name="ProLatitude" value="" />
                                        </div>
                                    </fieldset>

                                    <div class="form-group">
                                        <label class="mark" for="ProPhone">[[[Phone]]]</label>
                                        <input type="text" name="ProPhone" id="ProPhone" class="form-control input-lg" placeholder="[[[Company Phone]]]">
                                    </div>
                                    <div class="form-group">
                                        <label class="mark" for="ProEmail">[[[Company Email]]]</label>
                                        <input type="text" name="ProEmail" id="ProEmail" class="form-control input-lg" placeholder="[[[Company Email]]]">
                                    </div>
                                    <div class="form-group">
                                        <label class="mark" for="ProSiteWeb">[[[Web Site]]]</label>
                                        <input type="text" name="ProSiteWeb" id="ProSiteWeb" class="form-control input-lg" placeholder="[[[Web Site]]]">
                                    </div>
                                    <fieldset>
                                        <legend>[[[Company Contact]]]</legend>
                                        <div class="form-group">
                                            <label class="mark fa fa-male">
                                                [[[Male]]]
                                                <input type="radio" name="Gender" enabled="true" id="GenderM" value="M" checked />
                                            </label>
                                            <label class="mark fa fa-female">
                                                [[[Female]]]
                                                <input type="radio" name="Gender" enabled="true" id="GenderF" value="F" />
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="mark" for="LastName">[[[Last Name]]] <span class="text-red">*</span></label>
                                            <input type="text" name="LastName" id="LastName" class="form-control input-lg" placeholder="[[[Last Name of the Owner]]]">
                                        </div>
                                        <div class="form-group">
                                            <label class="mark" for="FirstName">[[[First Name]]] <span class="text-red">*</span></label>
                                            <input type="text" name="FirstName" id="FirstName" class="form-control input-lg" placeholder="[[[First Name of the Owner]]]">
                                        </div>
                                        <div class="form-group">
                                            <label class="mark" for="PhoneNumber">[[[Phone Number]]] : </label>
                                            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control input-lg" placeholder="[[[Phone Number of the Owner]]]">
                                        </div>
                                    </fieldset>

                                </div>
                            </div>

                            if (CacheHelper.Settings.AgreementRequired)
                            {
                                <div class="form-group">
                                    <input type="checkbox" id="Accept" name="Accept" value="true" data-rule-required="true" data-msg-required="- [[[Please accepts the terms and conditions to continue]]]" />
                                    <label for="Accept">[[[I accept the]]] <a id="agreementModal" data-toggle="modal" data-target="#agreementModal" class="text-blue font-weight-bold"> [[[Terms & Conditions]]]</a></label>
                                </div>
                            }
                            <input type="submit" class="btn btn-success btn-lg w-100 " value="[[[Join]]]">
                        }
                    </div>
                    <div class="card-footer " style="text-align:center">
                        <div><span>[[[Already a member?]]] <a href="@Url.Action("Login", "Account")">[[[Login]]]</a></span></div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card" id="divPubRegisterDroite">
                    <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Droite_250x350_Img1"))" style="display: block;" pubdroite />
                    @{
                        for (int iD = 2; iD <= @ImageHelper.GetMaxNbforPub("pub_Register_Droite_250x350_Img"); iD++)
                        {
                            <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Droite_250x350_Img" + iD)" style="display: none;" pubdroite />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ./ Main Content -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgB8z009mHSrPLaJUobfgmI1gTlk1aqyc&libraries=places"></script>

    <script src="~/Scripts/fileinput.min.js"></script>
    @Html.Partial("_LocalizationFileInput")

    <script type="text/javascript">
        $(document).ready(function () {
            initializeMapLatLong();
        });
    </script>

    <script>
        @{
            var preview = new System.Text.StringBuilder();
            var previewDelete = new System.Text.StringBuilder();

            //if(Model != null &&  Model.ImgFiles != null)
            //{

            //    preview.AppendFormat(@"'<img src=""{0}"" class=""file-preview-image"">',", Model.ImgFiles[(0).Url);
            //    previewDelete.AppendFormat(@"{{url: '{0}',key: {1} }},", Url.Action("ListingPhotoDelete", "Listing", new { id = Model.ImgFiles[0].ID }), Model.ImgFiles[0].ID);

            //}
        };

        var $input = $("#files");

        $input.fileinput({
            uploadAsync: false,
            showCaption: false,
            showRemove: false,
            showUpload: false,
            maxImageWidth: 200,
            maxImageHeight: 200,
            resizeImage: true,
            resizePreference: 'width',

            maxFileCount: 5,
            overwriteInitial: false,
            @*initialPreview: [
                    @Html.Raw(preview.ToString())
            ],
            initialPreviewConfig: [
                @Html.Raw(previewDelete.ToString())
            ],
            initialPreviewConfig: [
                @Html.Raw(previewDelete.ToString())
            ],*@
            maxFileSize: 10000,
            browseClass: "btn btn-primary",
            allowedFileTypes: ["image"],
            dropZoneTitle : "[[[Please select your logo...]]]",
            language: '@Context.GetPrincipalAppLanguageForRequest().ToString()'
        });
    </script>
    <script type="text/javascript">
        $('#idBtnType').on('click', function (e) {
            var elPro = document.getElementById("dPro");
            if (e.target.control.id == "optPro")
                elPro.style.display = 'block';
            else
                elPro.style.display = 'none';

        })
    </script>
    <script>
        $(function () {
            var CategID;
            $('#jstreeCateg').jstree({
                'core': {
                    "multiple": true,
                    "check_callback": false,
                    'data': {
                        'url': '/jsTree3/GetJsTree3CategData/',
                        "data": function (node) { return { id: CategID }; },
                        'dataType': 'json',
                    },
                    "themes": {
                        "responsive": true,
                        "variant": 'larg',
                        "stripes": false,
                        "icons": false,
                        "ellipsis": false,
                        "dots": false
                    },
                    "checkbox": {
                        "visible": true,
                        "two_state": false
                    }
                },
                "plugins": ["checkbox"]
            });

            $('#jstreeCateg').on("changed.jstree", function (e, data) {
                if (data != null && data.selected != null && data.selected.length > 0) {
                    document.getElementById('CategoryIDhidd').value = data.selected.join(";");
                }
                else
                    document.getElementById('CategoryIDhidd').value = null;
            });

        });
    </script>
    <script>
        $(function () {
            $('#jstreeLoc').jstree({
                'core': {
                    "multiple": false,
                    "check_callback": false,
                    'data': {
                        'url': '/jsTree3/GetJsTree3LocData/',
                        "data": function (node) { return { id: null }; },
                        'dataType': 'json',
                    },
                    "themes": {
                        "responsive": true,
                        "variant": 'larg',
                        "stripes": false,
                        "icons": false,
                        "ellipsis": false,
                        "dots": false
                    },
                    "checkbox": {
                        "visible": true,
                        "two_state": false
                    }
                },
                "plugins": ["checkbox"]
            });

            $('#jstreeLoc').on("changed.jstree", function (e, data) {
                if (data != null && data.selected != null && data.selected.length > 0) {
                    document.getElementById('LocationRefIDhidd').value = data.selected[0];

                    // Recupere le ou les texte selectionne
                    var i, j, r = [];
                    for (i = 0, j = data.selected.length; i < j; i++) {
                        r.push(data.instance.get_node(data.selected[i]).text);
                    }

                    var sel = r.join(' ') + ', ile Maurice';
                    document.getElementById('LocSelectedName').value = sel;

                    codeAddress(sel);

                }
            });

        });
    </script>


}
