@model BeYourMarket.Web.Models.ListingItemModel

<div class="card" >
    <div class="card-image align-items-center">
        <a href="@Url.Action("Listing", "Listing", new { id = Model.ListingCurrent.ID })">
            <img alt="@Model.ListingCurrent.Title" src="@Model.UrlPicture"  style="margin-top: 40px;" >
            @if (Model.ListingCurrent.Price.HasValue)
            {
                <span class="card-img-label h-auto" style="border-radius: 10px 10px 10px;border: 2px solid green; color:darkgreen;font-weight:bold; margin : 1px auto 10px 10px">@Html.DisplayFor(x => Model.ListingCurrent.PriceFormatted)</span>
            }
        </a>
    </div>
    
    
    <div class="card-content">
        <a href="@Url.Action("Profile", "Listing", new { id = Model.ListingCurrent.UserID })">
            <img class="thumb-md img-profile-card img-circle" src="@BeYourMarket.Web.Utilities.ImageHelper.GetUserProfileImagePath(Model.ListingCurrent.UserID)" />
        </a>

        <a href="@Url.Action("Listing", "Listing", new { id = Model.ListingCurrent.ID })">
            <h5 class="card-title mt-3">@Model.ListingCurrent.Title</h5>

            <p class="truncate">
                @Html.Raw(Model.ListingCurrent.Description)
            </p>
            <p>
                <span class="score @Model.ListingCurrent.RatingClass text-sm"></span> @Model.ListingCurrent.ListingReviews.Count [[[Reviews]]]
            </p>
        </a>
    </div>
    <div class="card-action">
        <a href="@Url.Action("Listing", "Listing", new { id = Model.ListingCurrent.ID })"><i class="fa fa-map-marker"></i> @Model.ListingCurrent.LocationRef.Name - @Model.ListingCurrent.LocationRef.Description - @Model.ListingCurrent.Location</a>
    </div>
</div>