@model BeYourMarket.Web.Models.SearchListingModel

@using PagedList.Mvc
@using BeYourMarket.Web.Extensions;


@{

    ViewBag.Title = CacheHelper.Settings.Name;
}

@section Styles {
    <style>

    </style>
}

@*<div class="container-fluid" style="background-color:#EAF4D3">*@
    <div style="background-color:#EAF4D3">
        <div class="mrg-tb">
            <div class="row">
                <button id="btnHome">Home</button>
                <button id="btnIdentity"> Identity</button>
                <button id="btnIdentityUpd">Identity Upd</button>
                <div id="ContentPro">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-4">
                    <ul class="nav nav-tabs" id="tabProId">
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link active" data_id="1" href="#tabProHome">[[[Company]]]</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" data_id="2" href="#tabProfil">[[[Details]]]</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" data_id="3" href="#tabAddListing">[[[New]]]</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" data_id="4" href="#tabProfilUpd">[[[Update]]]</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div id="tabProHome" class="tab-pane fade show active">
                            <div id="ProDiv1">

                            </div>
                        </div>
                        <div id="tabProfil" class="tab-pane fade">
                            <div id="ProDiv2">
                            </div>
                        </div>
                        <div id="tabAddListing" class="tab-pane fade">
                            <div id="ProdDiv3">
                            </div>
                        </div>
                        <div id="tabProfilUpd" class="tab-pane fade">
                            <div id="ProdDiv4">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 section-title mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="form-inline pull-right">
                                    <div class="form-group">
                                        <div class="btn-group" role="group" aria-label="Sort View">
                                            <a class="btn btn-primary" href="@Request.UrlReplace("SortView", BeYourMarket.Model.Enum.Enum_SortView.Grid.ToString())"><i class="fa fa-th"></i> [[[Grid]]]</a>
                                            <a class="btn btn-primary" href="@Request.UrlReplace("SortView", BeYourMarket.Model.Enum.Enum_SortView.List.ToString())"><i class="fa fa-th-list"></i> [[[List]]]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="font-weight-bold text-warning">
                                <h4>
                                    <i class="font-weight-bold text-warning fa fa-shopping-cart">  [[[Items in our Shop]]]</i>

                                </h4>
                            </div>

                        </div>
                    </div>

                    <div class="row m-b-10">
                        <div class="container-fluid body-content">
                            @switch (Model.SortView)
                            {
                                case BeYourMarket.Model.Enum.Enum_SortView.Grid:
                                default:

                                    @Html.Partial("~/Views/Listing/_ListingGrid.cshtml", Model)
                                    break;

                                case BeYourMarket.Model.Enum.Enum_SortView.List:
                                    @Html.Partial("~/Views/Listing/_ListingGridList.cshtml", Model)
                                    break;
                                case BeYourMarket.Model.Enum.Enum_SortView.Map:
                                    break;

                            }
                        </div>
                    </div>
                    <div class="card-header bdr-b">
                        <div class="container-fluid">
                            <div class=" col-md-12">
                                <h5 class="pull-left mrg-t">
                                    @string.Format("[[[Page {0} of {1}]]]", Model.ListingsPageList.PageCount < Model.PageNumber ? 0 : Model.PageNumber, Model.ListingsPageList.PageCount)
                                </h5>
                                @Html.PagedListPager(Model.ListingsPageList, (page) => { return Request.UrlReplace("PageNumber", page.ToString()); },
                                new PagedListRenderOptions
                                     {
                                         ContainerDivClasses = new List<string>(new string[] { "pull-right" }),
                                         DisplayPageCountAndCurrentLocation = false,
                                         MaximumPageNumbersToDisplay = 5,
                                         DisplayEllipsesWhenNotShowingAllPageNumbers = false
                                     })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {

    @*<script src="~/Scripts/fileinput.min.js"></script>
        @Html.Partial("_LocalizationFileInput")*@

    <script type="text/javascript">

        @*var url3= '@Url.Action("DisplayProTabsInfos","Professional")';
        $('#btnIdentity').click(function() {
          var keyWord = $('#Keyword').val();
            $('#ContentPro').load(url, { id: "2" });
        })

        var url2 = '@Url.Action("DisplayProTabsInfos","Professional")';
        $('#btnIdentity').click(function() {
          var keyWord = $('#Keyword').val();
            $('#ContentPro').load(url, { id: "2" });
        })*@

        $('#btnHome').on("click", function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DisplayProTabsInfos","Professional")',
                data: { id: "1" },
                success: function (data) {
                    $('#ContentPro').innerHTML = data;
                }
            });
        });

        $('#btnIdentity').on("click", function() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DisplayProTabsInfos","Professional")',
                data:{  id: "3" },
                success: function (data) {
                    $('#ContentPro').load(data);
                }
            });
        });

        $('#btnIdentityUpd').on("click", function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DisplayProTabsInfos","Professional")',
                data: { id: "2" },
                success: function (data) {
                    $('#ContentPro').innerHTML = data;
                }
            });
        });


        $(document).ready(function () {

            // Init le contenu du tab Home en appelant l action
            $.ajax({
                url: '@Url.Action("DisplayProTabsInfos", "Professional")',
                type: "post",
                cache: false,
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: "1"
                }), //add parameter
                success: function (data) {
                    //success
                    $('#ProDiv1').html(data); //populate the tab content.
                },
                error: function () {
                    alert("error");
                }
            });

        });

    </script>

    <script type="text/javascript">
    $(function () {
        $(".nav-link").click(function () {
            //Custom attribute data_id is used to store the ID
            //Get the ID
            var id = $(this).attr("data_id");
            $.ajax({
                url: '@Url.Action("DisplayProTabsInfos", "Professional")',
                type: "post",
                cache: false,
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: id
                }), //add parameter
                success: function (data) {
                    //success

                    $('#ProDiv' + id).html(data); //populate the tab content.

                },
                error: function () {
                    alert("error");
                }
            });
        });
    });
    </script>
}
